.venv
__pycache__
/models/
tests/outputs/
storage
!storage/voices/*.json
!storage/voices/*.wav
!storage/models/*
!july_engine/services/storage
# storage/voices/uploaded
# storage/voices/uploaded_voices.json
# storage/temp
# storage/db
temp_*
.env
# vendor/