# -r requirements.txt

# CPU Models and Utilities
torch==2.8.0
torchvision==0.23.0
torchaudio<2.9
transformers==5.0.0
scipy==1.16.2
safetensors==0.7.0
diffusers==0.37.0
faster-whisper==1.2.0
sentence-transformers==5.4.0
pydub==0.25.0
pillow==12.0.0
ollama==0.6.0
huggingface_hub
pandas==2.2.3
piper-tts>=1.4.1
hf_xet==1.4.3
opencv-python-headless==4.13.0.90
opencv-python==4.12.0.88
noisereduce>=3.0.2
kokoro>=0.9.0
py-cpuinfo
timm>=1.0.25
mediapipe>=0.10.10
ultralytics==8.3.229
ultralytics-thop==2.0.18
deepface==0.0.92
retina-face==0.0.13
tensorflow>=2.21.0
tf-keras>=2.21.0
pedalboard==0.9.21
chatterbox-tts
pathvalidate>=3.3.1
onnxruntime==1.25.0
ctranslate2==4.7.0
matplotlib==3.10.7