--extra-index-url https://download.pytorch.org/whl/cu126

--find-links ../july_engine_libs/python/llama_gguf/vendor/llama-cpp-python/dist

llama-cpp-python==0.3.37
-e ../july_engine_libs/python/llama_gguf
-e ../july_engine_libs/python/telemetry
-e ../july_engine_libs/python/routers
faster-whisper
coqui-tts==0.27.5
transformers==5.0.0
kokoro==0.9.4
torch==2.11.0
torchao
torchaudio==2.11.0
torchvision
fastapi[standard]
requests
litellm
tinydb
sqlalchemy
psycopg2-binary
chromadb
pgvector==0.4.2
mcp
piexif
exif
fsspec
s3fs
gcsfs
imageio-ffmpeg
deepfilternet==0.5.6
numpy
ultralytics
deepface
pytest
pytest-asyncio
python-dotenv
pedalboard
hf_xet
accelerate
nvidia-ml-py
diffusers
bitsandbytes
peft==0.19.1
safetensors
insightface
xformers
-e ./vendor/IP-Adapter
basicsr
realesrgan
gfpgan
facexlib
gguf
sdnq==0.1.7
prometheus_client
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
onnxruntime-gpu
sentence-transformers==5.4.1
tavily-python
replicate
pyinstaller
noisereduce
soundfile
pyppeteer
timm
# faster-qwen3-tts==0.2.6
py-cpuinfo
tf-keras==2.21.0
PyMuPDF
pytesseract
rembg[gpu]