--extra-index-url https://download.pytorch.org/whl/cu126

# -r requirements_cpu.txt

# llama-cpp-python compilado localmente (gerado pelo setup_gpu.sh)
--find-links ./jully_engine/vendor/llama-cpp-python/dist
llama-cpp-python

# GPU specific
torchcodec
accelerate
coqui-tts
nvidia-ml-py
diffusers
transformers==5.0.0
bitsandbytes
peft
safetensors
insightface
xformers
-e ./jully_engine/vendor/IP-Adapter
basicsr
realesrgan
gfpgan
facexlib
gguf
sdnq
onnxruntime-gpu>=1.24.4