-r requirements.txt

# CPU Models and Utilities
torch
torchvision
torchaudio
scipy
safetensors
diffusers
faster-whisper
sentence-transformers
pydub
pillow
ollama
huggingface_hub[hf_transfer]
pandas
piper-tts
onnxruntime-gpu
hf_xet
opencv-python-headless
noisereduce
pyinstaller
kokoro
py-cpuinfo
timm
mediapipe
ultralytics
deepface
retina-face
tensorflow
tf-keras