--extra-index-url https://download.pytorch.org/whl/cu126

-r requirements_cpu.txt

# GPU specific
torchcodec
accelerate
coqui-tts
nvidia-ml-py
llama-cpp-python
diffusers 
transformers
bitsandbytes
peft
safetensors 
insightface
xformers
git+https://github.com/tencent-ailab/IP-Adapter.git
basicsr
realesrgan
gfpgan
facexlib